/* .container{
    height: 500px;
    width: 500px;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
}


.item{
    background-color: yellow;
} */


.container{
    height: 500px;
    width: 500px;
    /* background-color: black; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 300px 100px;
    grid-gap: 10px;
}

.header{
    background-color: rgb(97, 194, 97);
    grid-column-start: 1;
    grid-column-end: 4;
}

.item1{
    background-color: red;

}

.item2{
    background-color: red;
}

.item3{
    background-color: red;
}

.footer{
   background-color: rgb(97, 194, 97);
    grid-column-start: 1;
    grid-column-end: 4;
}