* {
    margin: 0;
    font-family: Calibri;
}

.header1 {
    height: 120px;
    width: 100vw;
    background-color: white;
    border: solid 0.1px;
    position: relative;
    display: flex;
    flex-direction: row; 
}

#national {
    padding-left: 10px;
}

.jee {
    font-size: 25px;
}

.jal {
    margin-left: 65%;
}

.navbar {
    width: 100%;
    height: 90px;
    background: rgb(69, 69, 128);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
}

.text {
    padding-left: 20px;
}

p {
    color: rgb(112, 181, 249);
}

.home,
.locate,
.know,
.contact,
.report,
.tutorials,
.app {
    margin-left: 25px;
    display: flex;
    font-size: 25px;
    text-decoration: none;
    color: white;
    opacity: 1.2;
} 
.home:hover,
.locate:hover,
.know:hover,
.contact:hover,
.report:hover,
.tutorials:hover,
.app:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.home { color: white; }
.locate { color: white; }
.know { color: rgb(255, 251, 251); }
.contact { color: rgb(248, 250, 248); }
.report { color: rgb(251, 251, 251); }
.tutorials { color: rgb(255, 255, 255); }
.app { color: rgb(255, 255, 255); }


form{
    height: 250px;
    width: 100%;
    background-color: white;
    border: solid black 0.5px;
    border-radius: 25px;
    padding-left:  25px;

}

fieldset{
    margin-top: 50px;
    background-color: white;
}

h1{
    margin-left: 25px;
    background-color: white;
}

span{
    display: block;
    background-color: white;
    font-size: 25px;
}

.state{
    height: 50px;
    width: 50vw;
    font-size: 25px;
    color: gray;
    box-shadow: 0 4px 25px rgba(213, 5, 250, 0.2);
}

.home:hover,
.locate:hover,
.know:hover,
.contact:hover,
.report:hover,
.tutorials:hover,
.app:hover {
    opacity: 0.8;
    text-decoration: underline;
}
